  <div class="row">
        <div class="col-8">
            <h1>Holaaaaaaaaaaaaaa imagen de {{ nombre}}!</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, laboriosam!
            </p>
        </div>
    </div>

    <div class="col-4">
        <img src="assets/img/Artist.jpg" class="img-thubnail" alt="">
    </div>
